#appWrapper{
    #start{
        position: fixed;
        top: 5vh;
        left: 5vw;
        z-index: 22;
        height: 50px; 
        width: 50px;
    }
    #stop{
        position: fixed;
        top: 5vh;
        left: 5vw;
        z-index: 22;
        height: 50px; 
        width: 50px;
    }
}